<style>
    .footer{
        text-align:center;
        width:100%;
        background-color:#eee;
        margin-top:16px;
    }
</style>
<div class="footer">
    <h5>Created by Ivan and Brendan | 2020</h5>
</div>