#game_button {
    border-radius: 2px;
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    background-color: lightgray;
    font-size: large;
    text-align: center !important;
    vertical-align: middle !important;
    padding:0px !important;
}

#visited_button {
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    background-color: darkgray;
    border: 1px solid grey;
    color: black;
    text-align: center !important;
    font-size: large;
    vertical-align: middle !important;
}

#visited_bomb_button {
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    border: 1px solid grey;
    background-image: url(../../Images/bomb.png);
    background-color: red;
    background-size: 100%;
}

#right_click_button {
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    border: 1px solid grey;
    background-image: url(../../Images/flag.PNG);
    background-size: 100%;
}

#flagged_button {
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    border: 1px solid grey;
    background-image: url(../../Images/flag.PNG);
    background-color: darkgray;
    background-size: 100%;
}

#game_button:hover {
    background-color: white;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.grid-container {
    display: grid;
    bottom: 0;
}