#game_button {
    border-radius: 2px;
    display: flex;
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    background-color: lightgray;
    font-size: xx-large;
    text-align: center;
    padding-left: 20px;
    vertical-align: middle;
    /*background-image:url(../../Images/questionMark.png);
            background-size: 103%;*/
}

#visited_button {
    display: flex;
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    background-color: darkgray;
    border: 1px solid grey;
    color: black;
    text-align: center;
    font-size: xx-large;
    padding-left: 20px;
    vertical-align: middle;
}

#visited_bomb_button {
    display: flex;
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    border: 1px solid grey;
    background-image: url(../../Images/bomb.png);
    background-color: red;
    background-size: 100%;
}

#flagged_button {
    display: flex;
    min-width: 25px;
    min-height: 25px;
    width: calc(8.333333vw - 70px);
    height: calc(8.33333333vw - 70px);
    position: relative;
    border: 1px solid grey;
    background-image: url(../../Images/flag.PNG);
    background-color: darkgray;
    background-size: 100%;
}

#game_button:hover {
    background-color: white;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.grid-container {
    display: grid;
    bottom: 0;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
        visibility: visible;
        opacity: 1;

}

