@model List<Minesweeper_Web_App.Models.Cell>

@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<head>
    <style>
        #game_button{
            border-radius:2px;
            height:250px;
            width:25%;
            /*padding:36px 36px 36px 36px;*/
            background-color:gainsboro;
        }

        #game_button:hover{
            background-color:white;
        }

    </style>
</head>

<body>
    <div>
        @using (Html.BeginForm("HandleButtonClick", "Game"))
        {
            for (int i = 0; i < Model.Count; i++)
            {
                if(i % 10 == 0)
                {
                    <br />
                }
                <button class="#game_button" type="submit" name="btn" value="@i">
                    ?
                </button>
            }
        }
    </div>
    </body>