@model Minesweeper_Web_App.Models.GameModel

@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<head>
    <style>
        #game_button {
            border-radius: 2px;
            display: flex;
            min-width: 25px;
            min-height: 25px;
            width: calc(8.333333vw - 70px);
            height: calc(8.33333333vw - 70px);
            position: relative;
            background-color: gainsboro;
            color:transparent;
        }

        /*#game_button:after {
            content: "";
            display: block;
            padding-bottom: 110%;
        }*/

        #button_image{
            position:absolute;
            width:100%;
            height:100%;
        }

        #game_button:hover{
            background-color:white;
        }
        .flex-container{
            justify-content:center;
            display:flex;
            flex-direction: row;
            flex-wrap:nowrap;
            position:relative;
        }

        .grid-container{
            display:grid;  
            bottom:0;
        }

    </style>
</head>

<body>
    <div class="grid-container">
        @for (int i = 0; i < 12; i++)
        {
            <div class="flex-container">
                @for (int j = 0; j < 12; j++)
                {
                    //<button id="game_button">@Model.board.theGrid[1,1].liveNeighbors</button>
                    <button id="game_button">@i, @j</button>
                }
            </div>
        }
    </div>
</body>