@model Minesweeper_Web_App.Models.GameModel

@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

    <head>
        <link href="~/Content/GameStyles.css" rel="stylesheet" type="text/css" />
    </head>

<body>
    <div>Timer</div>

    <!--Minesweeper Grid Container-->
    <div class="grid-container">
        <!--ButtonClick Handler, this method displays the whole board based on cell
            properties-->
        @using (Html.BeginForm("HandleButtonClick", "Game"))
        {
            for (int i = 0; i < 12; i++)
            {
                <div class="flex-container">
                    @for (int j = 0; j < 12; j++)
                    {
                        //default game board
                        if (Model.board.theGrid[i, j].isVisited == false)
                        {
                            <button type="submit" name="mine" value="@i,@j" id="game_button"></button>
                        }

                        //bomb button
                        else if (Model.board.theGrid[i, j].isVisited == true && Model.board.theGrid[i, j].isLive == true)
                        {
                            <button type="submit" name="mine" id="bomb_button" disabled></button>
                        }

                        //visited, no neighbors
                        else if (Model.board.theGrid[i, j].isVisited == true && Model.board.theGrid[i, j].isLive == false && Model.board.theGrid[i, j].liveNeighbors == 0)
                        {
                            <button type="submit" name="mine" id="visited_button" disabled></button>
                        }

                        //visited, with neighbors
                        else if (Model.board.theGrid[i, j].isVisited == true && Model.board.theGrid[i, j].liveNeighbors != 0)
                        {
                            <button type="submit" name="mine" id="visited_button" disabled>@Model.board.theGrid[i, j].liveNeighbors</button>
                        }

                    }
                </div>
            }
        }

    </div>
</body>