@model Minesweeper_Web_App.Models.GameModel

@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "minesweeper_grid"
    };
}

@using (Ajax.BeginForm("HandleButtonClick", "Game", ajaxOptions))
{
    <div>Timer</div>

    <!--Minesweeper Grid Container-->
    <div class="grid-container" id="minesweeper_grid">
        <!--Calls the partial page that builds the minesweeper board game view-->
        @Html.Partial("~/Views/Shared/_MinesweeperContainer.cshtml")
    </div>


    <div>
        @Html.ActionLink("Reset Board", "BuildGame", new { controller = "Game" })
    </div>
}