
@{
    ViewBag.Title = "Registration Failure";
}

<h2>Registration Failure</h2>
<p>The department regrets to inform you that you have failed to register correctly (your username is already taken)</p>
