
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Minesweeper!</h1>
            <p class="lead">Brendan and Ivan have been working hard to put this together for you, and they hope you enjoy it!</p>
            <hr class="my-4">
            <p>Get ready to test your skills, register now!.</p>
            <a class="btn btn-primary btn-lg" href="Registration" role="button">Register</a>
        </div>
    </div>