@model Minesweeper_Web_App.Models.LoginUser

@{
    ViewBag.Title = "LoginSuccess";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<h2>Login Success</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>

<div>
    <h1>Select Play Game in the Navigation Bar to get started!</h1>
</div>
